@import "../configs/global.scss";

.header {
  padding: 32px 165px;

  &-wrapper {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;

    .header-nav {
      display: flex;
      align-items: center;

      &-menu {
        display: flex;
        justify-content: space-between;
        gap: 64px;
        padding: 0;
        margin: 0;
        list-style: none;

        &--link {
          position: relative;
          cursor: pointer;
          transition: all ease-in-out 0.3s;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -5px;
            width: 0;
            height: 4px;
            border-radius: 4px;
            background-color: $c-black;
            transition: all ease-in-out 0.3s;
          }

          &:hover {
            &::after {
              width: 100%;
            }
            a {
              color: $c-black;
            }
          }

          a {
            color: $c-black50;
            text-decoration: none;
            font-weight: bold;
            transition: all ease-in-out 0.3s;
          }
        }
      }
    }

    .header-login {
      display: flex;
      align-items: center;
      gap: 5px;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: bold;
        padding: 0;
        height: 49px;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
      }

      .log-in {
        color: $c-black;
        width: 105px;
        background-color: transparent;

        &:hover {
          box-shadow: 0px 3px 3px $c-black25;
        }
      }

      .sign-up {
        width: 115px;
        color: $c-white;
        background-color: $c-purple;

        &:hover {
          box-shadow: 0px 3px 3px $c-black25;
        }
      }
    }
  }
}
