@import "../configs/global.scss";

.header {
  padding: 32px 165px;

  &-wrapper {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;

    .header-nav {
      display: flex;
      align-items: center;

      &-menu {
        display: flex;
        justify-content: space-between;
        gap: 64px;
        padding: 0;
        margin: 0;
        list-style: none;

        &--link {
          position: relative;
          cursor: pointer;
          @extend %main-transition;

          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -5px;
            width: 0;
            height: 4px;
            border-radius: 4px;
            background-color: $c-black;
            @extend %main-transition;
          }

          &:hover {
            &::after {
              width: 100%;
            }
            a {
              color: $c-black;
            }
          }

          a {
            color: $c-black50;
            text-decoration: none;
            font-weight: bold;
            @extend %main-transition;
          }
        }
      }
    }

    .header-login {
      display: flex;
      align-items: center;
      gap: 5px;

      a {
        height: 49px;
        @extend %main-transition;
      }

      .log-in {
        width: 105px;
        @extend %white-btn;
      }

      .sign-up {
        width: 115px;
        @extend %purple-btn;
      }
    }
  }
}
